{% extends "base.html"%}
{%block content%}
{% block script %}
<script>
$(document).ready(function(){
	// console.log("ready");
	function getParameterByName(name, url) {
   if (!url) {
     url = window.location.href;
   }
   name = name.replace(/[\[\]]/g, "\\$&");
   var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
       results = regex.exec(url);
   if (!results) return null;
   if (!results[2]) return '';
   return decodeURIComponent(results[2].replace(/\+/g, " "));
}

	var query = getParameterByName('query');
	var tweetList = []
	// function parseTweets(len(tweetList) == 0{
	// 	if $("#tweet-container").text("No tweets")
	// }else {
	// 			$.each(data, function(key, value){
	// 			var TweetKey = key;
	// 			var tweetContent = value.content;
	// 			var tweetuser = value.user;
	// 			var time = value.updated;
	// 			$("#tweet-container").append(
	// 				"<div class='media'><div class='media-body'>" + tweetContent + "<br>" + "via" + "<h5>" + tweetuser.username + "</h5>" + " | " + "<a href='#'>View</>a>" + time + "</div></div><hr/>"
	// 				)
	// 		})
		
	// 	}
	// }
	function parseTweets(){
   if (tweetList == 0) {
     tweetContainer.text("No tweets currently found.")
   } else {
   	$.each(data, function(key, value){
				var TweetKey = key;
				var tweetContent = value.content;
				var tweetuser = value.user;
				var time = value.updated;
				$("#tweet-container").append(
					"<div class='media'><div class='media-body'>" + tweetContent + "<br>" + "via" + "<h5>" + tweetuser.username + "</h5>" + " | " + "<a href='#'>View</>a>" + time + "</div></div><hr/>"
					)
			})



   }
 }
 function fetchTweets(url){
   console.log('fetching Tweets')
   var fecthUrl;
   if (!url) {
     fecthUrl = initialURL
   } else {
     fecthUrl = url
   }
   $.ajax({
     url: fecthUrl,
     data: {
       "q": query
     },
     method: "GET",
     success: function(data){
       // console.log(data)
       tweetList = data.results
       if (data.next){
         nextTweetUrl = data.next
       } else {
         $("#loadmore").css("display", "none")
       }
       parseTweets()
       updateHashLinks()

     },
     error: function(data){
       console.log("error")
       console.log(data)
     }
   })
 }

	$.ajax({
		url: "tweet/api",
		data: {
			'query': query
		}
		method: "GET",
		success: function(data){
			tweetList = data;
			parseTweets()

				
	
	},
	error: function(data){
       console.log("error");
       // console.log(data)
     }
		
	})

 fetchTweets();
 $("#tweet_form").submit(function(event){
 	event.preventDefault();
 	$.ajax({
     url: fecthUrl,
     data: {
       "q": query
     },
     // method: "GET",
     method: "POST",
     success: function(data){
       // console.log(data)
       tweetList = data.results
       if (data.next){
         nextTweetUrl = data.next
       } else {
         $("#loadmore").css("display", "none")
       }
       parseTweets()
       updateHashLinks()

     },
     error: function(data){
       console.log("error")
       console.log(data.status)
     }
   })

 })
});

</script>
{% endblock script %}

<div class="row">
	<div class="col-sm-8 offset-sm-2">
		{% if not request.GET.query%}
		<div>
	
			{% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
		</div>
		{%endif%}
		<hr>
		<div id="tweet-container">
			
		</div>




		{% for obj in object_list%}
		<div class="media">
			{% if obj.image %}
				<img class="mr-3" src="..." alt="Generic placeholder image">
			{%endif%}
			<div class="media-body">
				<h5 class="mt-0">{{obj.user}}</h5>
				<p>{{obj.content}}</p>
				<p><small><a href="{{obj.get_absolute_url}}">View</a> | {{obj.created | timesince}} ago</small></p>
				<hr>
				{% empty %}
				{% if request.GET.query %}
				<li>Sorry, no tweets found matching the input.</li>
				{% else %}
				<li>Sorry, no tweets yet.</li>
				{%endif%}
			</div>
			
		
		{%endfor%}
	</div>
	
</div>

{%endblock%}

