{% extends "base.html"%}
{%block content%}
{% block script %}
<script>
$(document).ready(function(){
	// console.log("ready");
	var query = getParameterByName('query');
	var tweetList = []
	function parseTwif(len(tweetList) == 0{
		if $("#tweet-container").text("No tweets")
	}else {
				$.each(data, function(key, value){
				var TweetKey = key;
				var tweetContent = value.content;
				var tweetuser = value.user;
				var time = value.updated;
				$("#tweet-container").append(
					"<div class='media'><div class='media-body'>" + tweetContent + "<br>" + "via" + "<h5>" +tweetuser.username + "</h5>" + " | " + "<a href='#'>View</>a>" + time + "</div></div><hr/>"
					)
			})
		
		}
	}
	

	$.ajax({
		url: "tweet/api",
		data: {
			'query: query'
		}
		method: "GET",
		success: function(data){
			tweetList = data;
			parseTweets()

			
			})
	
	}
		
	})
  
});
</script>
{% endblock script %}

<div class="row">
	<div class="col-sm-8 offset-sm-2">
		{% if not request.GET.query%}
		<div>
			{% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' %}
		</div>
		{%endif%}
		<hr>
		<div id="tweet-container">
			
		</div>




		{% for obj in object_list%}
		<div class="media">
			{% if obj.image %}
				<img class="mr-3" src="..." alt="Generic placeholder image">
			{%endif%}
			<div class="media-body">
				<h5 class="mt-0">{{obj.user}}</h5>
				<p>{{obj.content}}</p>
				<p><small><a href="{{obj.get_absolute_url}}">View</a> | {{obj.created | timesince}} ago</small></p>
				<hr>
				{% empty %}
				{% if request.GET.query %}
				<li>Sorry, no tweets found matching the input.</li>
				{% else %}
				<li>Sorry, no tweets yet.</li>
				{%endif%}
			</div>
			
		
		{%endfor%}
	</div>
	
</div>

{%endblock%}

