{% extends "base.html"%}
{%block content%}
{% block script %}
<script>
	function getParameterByName(name, url){
		if (!url) {
			url = window.location.href;
		}
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

	$(document).ready(function(){
		console.log("it's ready.");
		var query = getParameterByName('query');
		var tweetList = []

		function parseTweets(){
			if(tweetList.length == 0){
				$("#tweet-container").text("No tweets currently found.")
			}else{
				$.each(tweetList, function(key, value){
					var tweetKey = key;
					var tweetContent = value.content;
					var tweetuser = value.user;
					var time = value.updated;
					console.log(value);
					$("#tweet-container").prepend("<div class='media'><div class='media-body'>" + "<h5>" + tweetuser.username + "</h5>" + tweetContent + "<br>" + "<a href='#'>View</a>" + " | " + time + "<hr>")
				})
			}
		}

		function fetchTweets(){
			console.log("fetching tweets...")
			$.ajax({
				url: "/tweet/api/",
				data: {
					'query': query
				},
				method: "GET",
				success: function(data){
					tweetList = data;
					parseTweets()

				},
				error: function(data){
					console.log("error");
					// console.log("data");
				}
			})
		}
		fetchTweets();

		$("#tweet_form").submit(function(event){
			event.preventDefault();
			var formData = $(this).serialize();
			$.ajax({
				url: "/tweet/api/create/",
				data: formData,
				method: "POST",
				success: function(data){
					console.log(data)
					fetchTweets()

				},
				error: function(data){
					console.log("error");
					console.log(data.status);
				}
			})
		})
	});
</script>
{% endblock script %}

<div class="row">
	<div class="col-sm-8 offset-sm-2">
		{% if not request.GET.query%}
		<div>
	
			{% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
		</div>
		{%endif%}
		<hr>
		<div id="tweet-container">
			
		</div>




		{% for obj in object_list%}
		<div class="media">
			{% if obj.image %}
				<img class="mr-3" src="..." alt="Generic placeholder image">
			{%endif%}
			<div class="media-body">
				<h5 class="mt-0">{{obj.user}}</h5>
				<p>{{obj.content}}</p>
				<p><small><a href="{{obj.get_absolute_url}}">View</a> | {{obj.created | timesince}} ago</small></p>
				<hr>
				{% empty %}
				{% if request.GET.query %}
				<li>Sorry, no tweets found matching the input.</li>
				{% else %}
				<li>Sorry, no tweets yet.</li>
				{%endif%}
			</div>
			
		
		{%endfor%}
	</div>
	
</div>

{%endblock%}

